.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 99;
  border-bottom: 3px solid #2BA62E;
  height: 80px;
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.header .logo {
  margin: auto 0;
  font-size: 0;
  background-color: #fff;
  width: 220px;
}
.header .nav li {
  font-size: 0;
  position: relative;
  font-weight: bold;
  margin-left: 50px;
  float: left;
}
.header .nav li a {
  font-size: 16px;
}
.header .nav li span {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  transition: width 0.3s;
  background: blue;
}
.header .nav li:hover span {
  width: 100%;
}
.header .nav li.active span {
  width: 100%;
}
.header .search {
  padding: 6px;
  padding-right: 30px;
  border: 1px solid #333;
  border-radius: 5px;
  position: absolute;
  right: 0;
}
.header .search input {
  width: 200px;
  height: 20px;
}
.header .search i {
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
}
.header_content {
  height: 83px;
}
.banner {
  width: 100%;
}
.banner .swiper-slide a {
  width: 100%;
}
.banner .swiper-pagination-bullet {
  border-radius: 4px;
  background-color: #B3B3B3;
  width: 30px;
  height: 4px;
}
.products_slide {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  height: 150px;
}
.products_slide li {
  transition: all 0.3s;
  box-sizing: border-box;
  padding-top: 25px;
  height: 100%;
  width: 130px;
}
.products_slide li:hover {
  box-shadow: 0px 0 4px 4px rgba(153,153,153,0.35);
  transform: translate(0, -1px);
}
.products_slide li a {
  text-align: center;
  height: 100%;
  width: 100%;
}
.products_slide li img {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.products_map {
  background-color: #F5F5F5;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.products_map li {
  box-sizing: border-box;
  padding: 0 5px;
  float: left;
  width: 50%;
  height: 250px;
  margin-bottom: 10px;
}
.products_map li a {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.products_map li a:hover .text {
  background-color: rgba(0,0,0,0.7);
}
.products_map li a:hover .shop {
  margin-top: 15px;
  opacity: 1;
}
.products_map li a:hover img {
  transform: scale(1.1);
}
.products_map li .text {
  transition: all 0.6s;
  position: absolute;
  padding: 40px 30px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}
.products_map li .shop {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 30px;
  transition: all 0.6s;
  opacity: 0;
  width: 100px;
  height: 30px;
}
.products_map li .shop:hover {
  color: #333;
  background-color: #fff;
}
.products_map li h3 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: relative;
}
.products_map li small {
  font-weight: normal;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.products_map li img {
  transition: all 0.6s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.products_list h2 {
  text-align: center;
  margin: 50px 0;
  font-weight: normal;
}
.products_list small {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: #999;
}
.products_list ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 360px;
}
.products_list li {
  transition: all 0.3s;
  float: left;
  width: 22%;
}
.products_list li:hover {
  box-shadow: 0px 0 4px 4px rgba(153,153,153,0.35);
  transform: translate(0, -1px);
}
.products_list li img {
  margin: 0 auto;
  width: 240px;
}
.products_list li p {
  font-size: 14px;
  padding: 0 40px;
}
.products_list .more {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}
.products_list .more a {
  transition: all 0.6s;
  display: inline-block;
  background-color: #eee;
  padding: 0 100px;
  border-radius: 4px;
  line-height: 38px;
  height: 38px;
}
.products_list .more a:hover {
  background-color: #0068B7;
  color: #fff;
}