  <div class="header">
    <div class="container">
      <a href="/index.html" class="logo">
        <img src="/img/logo.jpg" alt="logo">
      </a>
      <ul class="nav">
        <% if (data == 0) { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
          <a href="/index.html">Home</a>
          <span></span>
        </li>
        <% if (data == 1) { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
          <a href="/classify.html">Products</a>
          <span></span>
        </li>
        <% if (data == 2) { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
          <a href="/">Blog</a>
          <span></span>
        </li>
        <% if (data == 3) { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
          <a href="/">Support</a>
          <span></span>
        </li>
      </ul>
      <div class="search">
        <input type="text">
        <i class="iconfont icon-3"></i>
      </div>
    </div>
  </div>
  <div class="header_content"></div>