  <div class="header">
    <div class="container">
      <a href="/index.html" class="logo">
        <img src="/img/logo.jpg" alt="logo">
      </a>
      <ul class="nav">
        <li <%= data == 0 ? 'class=active' : '' %>>
          <a href="/index.html">Home</a>
          <span></span>
        </li>
        <li <%= data == 1 ? 'class=active' : '' %>>
          <a href="/classify.html">Products</a>
          <span></span>
        </li>
        <li <%= data == 2 ? 'class=active' : '' %>>
          <a href="/">Blog</a>
          <span></span>
        </li>
        <li <%= data == 3 ? 'class=active' : '' %>>
          <a href="/">Support</a>
          <span></span>
        </li>
      </ul>
      <div class="search">
        <input type="text">
        <i class="iconfont icon-3"></i>
      </div>
    </div>
  </div>
  <div class="header_content"></div>